/*-- scss:functions --*/

/*-- scss:defaults --*/

//
// Color system
//
$white: #fff !default;
$black: #000 !default;

$mid-blue: #5EB6D9 !default;
$vivid-blue: #0085CA !default;
$lightblue: #c6E6F0 !default;
$darker-green: #4B8320 !default;
$blue-green: #00797F !default;
$light-gray: #f1f3f5 !default;
$mid-gray: #75776d !default;
$darker-gray: #687178 !default;

// Navbar
$navbar-bg: $mid-blue !default;
$navbar-fg: $lightblue !default;
$navbar-hl: $white !default;

// Links
$link-color: $blue-green !default;

// Code blocks
$code-block-bg: $light-gray !default;

// Mermaid diagram colors
$mermaid-bg-color: $blue-green !default; // color of boxes
$mermaid-fg-color: $blue-green !default; // color for words in boxes 
$mermaid-edge-color: $darker-gray !default; // color of lines
$mermaid-node-fg-color: $lightblue !default; // box outline color
$mermaid-fg-color--lighter: purple !default;
$mermaid-fg-color--lightest: lavender !default;
$mermaid-label-fg-color: pink !default;
$mermaid-label-bg-color: magenta !default;
$mermaid-node-bg-color: $lightblue !default;

/* -- scss:mixins --*/

/*-- scss:rules --*/
// overrides selectors from Sandstone that take precedence
// over $navbar-hl
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: $white;
}

// overrides Sandstone selectors for tabset links
.nav-tabs .nav-link,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  color: $darker-gray;
}

// make blockquote text dark enough
.blockquote {
  color: $mid-gray;
}

//useage, little cloud next to comment box
//::: rstudio-cloud
//some text
//:::
//.rstudio-cloud {
//  padding: 1em 1em 1em 4em;
//  margin-bottom: 5px;
//  margin-left: 5px;
//  background: #ffffff 5px center/3em no-repeat;
//  background-image: url("style/icons/cloud.png");
//}
//.rstudio-cloud:before {
//  content: "RStudio Cloud: ";
//  clear: right;
//  display: block;
//  font-weight: bold;
//  color: #A7D5E8;
//}
