/*-- scss:functions --*/

/*-- scss:defaults --*/

//
// Color system
//
$white: #fff !default;
$black: #000 !default;

$mid-blue: #5EB6D9 !default;
$vivid-blue: #0085CA !default;
$lightblue: #c6E6F0 !default;
$darker-green: #4B8320 !default;
$blue-green: #00797F !default;
$light-gray: #f1f3f5 !default;
$mid-gray: #75776d !default;
$darker-gray: #687178 !default;

// Navbar
$navbar-bg: $mid-blue !default;
$navbar-fg: $lightblue !default;
$navbar-hl: $white !default;

// Links
$link-color: $blue-green !default;

// Code blocks
$code-block-bg: $light-gray !default;

// Mermaid diagram colors
$mermaid-bg-color: $lightblue; // color of boxes
$mermaid-fg-color: $blue-green; // color for words in boxes 
$mermaid-edge-color: $light-gray; // color of lines
$mermaid-node-fg-color: $lightblue; // box outline color
$mermaid-label-fg-color: $light-gray;
$mermaid-label-bg-color: $light-gray;
$mermaid-node-bg-color: $light-gray;

/* -- scss:mixins --*/

/*-- scss:rules --*/
// overrides selectors from Sandstone that take precedence
// over $navbar-hl
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: $white;
}

// overrides Sandstone selectors for tabset links
.nav-tabs .nav-link,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  color: $darker-gray;
}

// make blockquote text dark enough
.blockquote {
  color: $mid-gray;
}


